<!-- footer.html -->
<footer class=" d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top w-100" style="background-color: #38373b;">
    <div class="d-flex align-items-center">
        <a href="{{url_for('index.index')}}" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img class="" src="{{ url_for('static', filename='img/condosa.png') }}" alt="" width="162" height="67">
        </a>
     
    </div>
  
    <ul class="nav justify-content-center mx-auto">
      <li class="nav-item"><a href="{{url_for('index.index')}}" class="nav-link px-2  text-white">INICIO</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2  text-white">QUÍENES SOMOS</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2  text-white">PROYECTOS EN VENTA</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2  text-white">PROYECTOS ENTREGADOS</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2  text-white">CONTACTO</a></li>
    </ul>
  
    <div class="social-icons">
      <a href="#" class="social-icon me-2"><i class="fab fa-facebook-f fa-lg text-white"></i></a>
      <a href="#" class="social-icon me-2"><i class="fab fa-instagram fa-lg text-white"></i></a>
      <a href="#" class="social-icon me-2"><i class="fab fa-whatsapp fa-lg text-white"></i></a>
    </div>
  </footer>